
<div class="row">
  <div class="col-sm-6">
    @interactiveBox()
  </div>
  <div class="col-sm-6">
    @codeBox()
  </div>
</div>

<style>
  pre {
    margin-top: 5px;
  }

    pre.console {
      background-color: black;
      color: lightblue;
    }
</style>

@helper interactiveBox() {
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group" style=" margin-top: 10px; margin-bottom: 30px;">
        <input type="number"
               class="form-control"
               style="width: 100% !important;"
               id="amount" value="0">
        <span class="input-group-btn">
          <button id="generate" class="btn btn-success">
            Random
          </button>
        </span>
      </div>
    </div>
    <div class="col-xs-8"></div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center" style="padding-bottom: 0px;">
      <div class="well">
        <h4 id="amountText" style="margin: 3px 0px 10px 0px;"
            class="text-danger"></h4>
        <h3 id="bahtText" style="margin: 3px 0px 0px 0px;"></h3>
      </div>
    </div>
  </div>
}


@helper codeBox() {
  <div class="row">
    <div class="codeBox col-sm-12">
      1. ติดตั้ง <code>ThaiBahtText</code> ในโปรเจ็กต์ ด้วย NuGet

      <pre class="console">PM> Install-Package ThaiBahtText</pre>

      2. เพิ่มประโยคอิมพอร์ตเนมสเปซ
      <pre>// C#
using <b class="text">GreatFriends.ThaiBahtText</b>;</pre>
<pre>'' VB
Imports <b class="text">GreatFriends.ThaiBahtText</b>  
</pre>

      3. โค้ดตัวอย่างการใช้งาน
      <pre>// C#
decimal? amount = <span class="text-danger amountInCode"></span>;
string text = amount.<b>ThaiBahtText()</b>;</pre>
<pre>'' VB
Dim amount As Decimal? = <span class="text-danger amountInVB"></span>
Dim text As String 
text = amount.<b>ThaiBahtText()</b>
</pre>
    </div>
  </div>
}



@section scripts {
  <script>
    $("#generate").click(function () {
      // var amt = chance.integer({ min: @ViewBag.Min, max: @ViewBag.Max});
      var amt = chance.integer({ min: -999999, max: 999999 }) / 100.0;
      $("#amount").val(amt).change();

    })

    $("#amount").val("121.50");
    fn1();
    $("#amount").keyup(fn1);
    $("#amount").change(fn1);

    function fn1() {
      var val = $("#amount").val().toString();
      var url = "@Url.Action("ToThaiBahtText")";
      var data = { amount: val };

      $.post(url, data).success(function (result) {
        if (val === '') {
          $(".amountInCode").text('null');
          $(".amountInVB").text('Nothing')
        } else {
          $(".amountInCode").text(val + 'm');
          $(".amountInVB").text(val + 'D');
        }
        $("#amountText").text(result.AmountText);
        $("#bahtText").text(result.ThaiBahtText);
      });
    }
  </script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64445220-1', 'auto');
    ga('send', 'pageview');

  </script>
}

